/* You can add global styles to this file, and also import other style files */
.float {
    padding: 30px;
    display: block;
    position: fixed;
    float: right;
    bottom: 0px;
    right: 5px;
  }